
.Main-footer{
  border-top: .03px solid grey;
  gap: 5px;
  height: auto;
  background-color:rgb(23, 20, 20);
  color:whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
 

}
.Main-footer h4{
  font-size: 1.5em;
  flex-wrap: nowrap;
}
.footer-container{
  margin-top: 40px;
}
.sub-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  gap:40px;
  padding: 10px;
  margin-bottom: 60px

}
.sub-footer-2{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.sub-footer-2 img{
width:60px;
height: 40px;
aspect-ratio: 1/1;

}
.Main-footer .footer-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:30px;
}

.social,
.contact,
.categories,
.about,
.customercare,
.info
 {
  flex: 1;
  margin-right: 20px;
  
  height: 250px;
  display: grid;
  text-align: left;
}


.social a,
.contact a,
.categories a,
.about a,
.customercare a,
.info a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color:whitesmoke;
  font-size: 16px;
  
}

.social div,
.contact div,
.categories div,
.about div,
.customercare div,
.info div  {
display: flex;
flex-direction: column;
text-align: left;
}

.social a {
  text-decoration: none;
  color: red; /* Default text color */
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* Style for the icons */
.social a svg {
  margin-right: 8px; /* space between icon and text */
  font-size: 24px; /* size of the icon */
}

/* Hover effect for the links */
.social a:hover {
  color: #0073e6; /* Change text color on hover */
}

